$color-uno: #8E551A;
$color-dos: #e2b241;
$color-tres: #fff;
$color-cuatro: #000;

@import '../components/libs/styles';
@import '../components/titles/styles';
@import '../components/menu/styles';
@import '../components/stage/styles';
@import '../components/values/styles';
@import '../components/foo/styles';
