$color-dos: #e2b241;
$color-tres: #fff;
$color-cuatro: #000;
$color-cinco: #CB2027;
.wd-card{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1280px;
	margin: auto;
	padding: 1em 0;
	&__item{
		display: flex;
		flex-direction: column;
		max-width: 90%;
	    margin-bottom:1em;
		width: 100%;
		border-radius: 0.7em;
	    border: 1px solid rgba($color-cuatro, 0.2);
    	overflow: hidden;
    	box-shadow: 3px 3px 5px rgba($color-cuatro,0.5);
    	transition: all 300ms ease-in-out;
    	@media all and (min-width: 648px){
    		max-width: calc(90% / 2);
    		max-height: 550px;
    	}
    	@media all and (min-width: 948px){
    		max-width: calc(95% / 3);
    		max-height: 600px;
    	}
		&-image, &-description{
			width: 100%;
		}
		&-image{
		    display: flex;
    		justify-content: center;
    		align-items: center;
			img{
				width: 100%;
			}
		}
		&-description{
			overflow: hidden;
			transition: all 300ms ease-in-out;
	    	display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			&__text{
				display: flex;
				flex-direction: column;
				padding: 1em;
				h1{
					font-family: "Oswald", sans-serif;
					font-size: 2em;
					transition: all 300ms ease-in-out;
					@media all and (max-width: 647px){
						font-size: 2.5em;
					}
				}
				p{
					font-family: "Montesarrat", sans-serif;
				    font-size: 1em;
				    line-height: 1.5;
				    margin-bottom: 0.5em;
				    max-height: 105px;
				    max-width: 100%;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    transition: all 300ms ease-in-out;
				    @media all and (max-width: 647px){
				    	font-size: 1.25em;
				    	-webkit-line-clamp: initial;
				    }
				}
			}
			> a {
			    width: 100%;
			    justify-content: center;
			    align-items: center;
			    height: 45px;
			    font-size: 1.5em;
			    display: none;
			    margin-bottom: 1em;
			    @media all and (min-width: 948px){
		        	&:hover{
		        		text-decoration: underline;
		        	}
		        }
			}
			&__button{
			    margin: 0 auto 1em auto;
			    display: flex;
			    justify-content: center;
		   	    height: 45px;
    			width: 45px;
    			font-size: 3em;
    			border-radius: 50%;
		        background: $color-cuatro;
		        cursor: pointer;
		        color: $color-tres;
		        font-family: "Julius Sans One", sans-serif;
		        text-transform: uppercase;
		        transition: all 300ms ease-in-out;
		        box-sizing: border-box;
		        @media all and (min-width: 948px){
		        	&:hover{
		        		background: $color-dos;
		        		color: $color-cuatro;
		        		border: 1px solid $color-cuatro;
		        		transition: all 300ms ease-in-out;
		        	}
		        }
			}
		}
		&.open{
			max-height: 10000px;
			background: $color-dos;
			transition: all 300ms ease-in-out;
			.wd-card__item-description{
				&__text{
					p{
						max-height: 10000px;
	    				transition: all 1s ease-in-out;
					}
				}
				> a{
					display: flex;
				}
				&__button{
	        		transition: all 300ms ease-in-out;
				}
			}
	    }
	}
}