.wd-footer {
  overflow: hidden;
  width: 100%;
  background: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  box-sizing: border-box; }
  @media all and (max-width: 647px) {
    .wd-footer {
      padding: 0.5em 0.5em 5em 0.5em; } }
  @media all and (min-width: 648px) {
    .wd-footer {
      padding: 2em 1em; } }
  .wd-footer__main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    max-width: 100%;
    margin: auto; }
    @media all and (max-width: 647px) {
      .wd-footer__main {
        -ms-flex-direction: column;
            flex-direction: column; } }
    @media all and (min-width: 1281px) {
      .wd-footer__main {
        max-width: 1280px; } }
  .wd-footer__options {
    display: -ms-flexbox;
    display: flex; }
    @media all and (max-width: 647px) {
      .wd-footer__options {
        margin-bottom: 1em;
        width: 90%;
        -ms-flex-pack: center;
            justify-content: center; } }
    .wd-footer__options-item {
      display: -ms-flexbox;
      display: flex;
      max-width: 145px;
      width: 100%;
      -ms-flex-pack: center;
          justify-content: center;
      text-align: center; }
      .wd-footer__options-item > a {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        color: #fff;
        height: 45px;
        padding: 0.5em;
        box-sizing: border-box;
        transition: all 300ms linear; }
        @media all and (min-width: 948px) {
          .wd-footer__options-item > a:hover {
            color: #e2b241;
            transition: all 300ms linear; } }
  .wd-footer__shares {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
    width: 90%; }
    @media all and (min-width: 648px) {
      .wd-footer__shares {
        width: calc(100% / 2); } }
    @media all and (min-width: 1010px) {
      .wd-footer__shares {
        width: calc(80% / 2 - 50px); } }
    .wd-footer__shares-item {
      display: -ms-flexbox;
      display: flex;
      border-radius: 50%;
      border: 1px solid #fff;
      transition: all 300ms linear; }
      @media all and (min-width: 948px) {
        .wd-footer__shares-item:hover {
          background: transparent;
          transition: all 300ms linear; } }
      .wd-footer__shares-item > a {
        height: 45px;
        width: 45px;
        color: #fff; }
        .wd-footer__shares-item > a > i {
          width: 100%;
          height: 100%;
          font-size: 2em;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center; }
      @media all and (min-width: 948px) {
        .wd-footer__shares-item:hover.facebook {
          background: #3b5998; }
        .wd-footer__shares-item:hover.twitter {
          background: #55acee; }
        .wd-footer__shares-item:hover.google {
          background: #dd4b39; }
        .wd-footer__shares-item:hover.instagram {
          background: #125688; }
        .wd-footer__shares-item:hover.pinterest {
          background: #cb2027; }
        .wd-footer__shares-item:hover.linkedin {
          background: #007bb5; }
        .wd-footer__shares-item:hover.vine {
          background: #00bf8f; }
        .wd-footer__shares-item:hover.whatsapp {
          background: #4dc247; } }

.no-mobile .wd-footer__shares-item.whatsapp, .no-mobile.desktop .wd-footer__shares-item.whatsapp {
  display: none; }

.mobile .wd-footer__shares-item.whatsapp {
  display: -ms-flexbox;
  display: flex; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@font-face {
  font-family: 'Julius Sans One';
  src: url("../../assets/fonts/JuliusSansOne/JuliusSansOne-Regular.eot");
  src: url("../../assets/fonts/JuliusSansOne/JuliusSansOne-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/JuliusSansOne/JuliusSansOne-Regular.woff") format("woff"), url("../../assets/fonts/JuliusSansOne/JuliusSansOne-Regular.ttf") format("truetype"), url("../../assets/fonts/JuliusSansOne/JuliusSansOne-Regular.svg#JuliusSansOne-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("../../assets/fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../../assets/fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../../assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"), url("../../assets/fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Oswald';
  src: url("Oswald-Regular.eot");
  src: url("Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("Oswald-Regular.woff") format("woff"), url("Oswald-Regular.ttf") format("truetype"), url("Oswald-Regular.svg#Oswald-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Oswald Bold';
  src: url("Oswald-Bold.eot");
  src: url("Oswald-Bold.eot?#iefix") format("embedded-opentype"), url("Oswald-Bold.woff") format("woff"), url("Oswald-Bold.ttf") format("truetype"), url("Oswald-Bold.svg#Oswald-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Oswald Light';
  src: url("Oswald-Light.eot");
  src: url("Oswald-Light.eot?#iefix") format("embedded-opentype"), url("Oswald-Light.woff") format("woff"), url("Oswald-Light.ttf") format("truetype"), url("Oswald-Light.svg#Oswald-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "wood-design";
  src: url("../../assets/fonts/wood/wood-design.eot");
  src: url("../../assets/fonts/wood/wood-design.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/wood/wood-design.woff") format("woff"), url("../../assets/fonts/wood/wood-design.ttf") format("truetype"), url("../../assets/fonts/wood/wood-design.svg#wood-design") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "wood-design" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="wd-icon-"]:before,
[class*=" wd-icon-"]:before {
  font-family: "wood-design" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wd-icon-down:before {
  content: "\61"; }

.wd-icon-left:before {
  content: "\62"; }

.wd-icon-right:before {
  content: "\63"; }

.wd-icon-up:before {
  content: "\64"; }

.wd-icon-comment:before {
  content: "\66"; }

.wd-icon-facebook:before {
  content: "\67"; }

.wd-icon-vimeo:before {
  content: "\69"; }

.wd-icon-youtube:before {
  content: "\6a"; }

.wd-icon-twitter:before {
  content: "\6b"; }

.wd-icon-vine:before {
  content: "\6c"; }

.wd-icon-linkedin:before {
  content: "\68"; }

.wd-icon-pinterest:before {
  content: "\6d"; }

.wd-icon-instagram:before {
  content: "\6e"; }

.wd-icon-hamburger:before {
  content: "\6f"; }

.wd-icon-close:before {
  content: "\70"; }

.wd-icon-check:before {
  content: "\65"; }

.wd-icon-play:before {
  content: "\71"; }

.wd-icon-pause:before {
  content: "\72"; }

.wd-icon-whatsapp:before {
  content: "\73"; }

.wd-icon-stop:before {
  content: "\74"; }

.wd-icon-mute:before {
  content: "\75"; }

.wd-icon-volume:before {
  content: "\76"; }

.wd-icon-mail:before {
  content: "\77"; }

.wd-icon-user:before {
  content: "\78"; }

.wd-icon-phone:before {
  content: "\79"; }

.wd-icon-copyright:before {
  content: "\7a"; }

.wd-icon-student:before {
  content: "\41"; }

.wd-icon-location:before {
  content: "\42"; }

.wd-icon-skype:before {
  content: "\43"; }

.wd-icon-share:before {
  content: "\44"; }

body {
  font-size: 14px; }

a {
  text-decoration: none; }

ul, ol, p, figure, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, ol {
  padding: 0; }

li {
  list-style: none; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none; }

.wd-wrapper {
  width: 100%;
  overflow: hidden; }
  .wd-wrapper__max {
    width: 100%;
    margin: auto; }
    @media all and (min-width: 647px) {
      .wd-wrapper__max {
        max-width: 947px; } }
    @media all and (min-width: 947px) {
      .wd-wrapper__max {
        max-width: 100%; } }

.wd-main {
  width: 100%;
  margin-left: 0;
  transition: all 300ms linear;
  margin-top: 60px; }
  .wd-main.collapsable {
    transition: all 300ms linear;
    position: relative;
    top: 0;
    z-index: -1;
    margin-left: 300px; }
    @media all and (min-width: 947px) {
      .wd-main.collapsable {
        margin-left: 0; } }

.wd-menu {
  min-height: 50px;
  background: #000;
  border-bottom: 2px solid #fff;
  width: 100%;
  position: fixed;
  z-index: 99; }
  .wd-menu__top {
    padding: 0.5em;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    box-sizing: border-box; }
    @media all and (min-width: 1280px) {
      .wd-menu__top {
        max-width: 1280px;
        margin: auto; } }
    .wd-menu__top-trigger {
      -webkit-appearance: none;
      border-radius: 0.25em;
      border: none;
      cursor: pointer;
      height: 45px;
      outline: none;
      width: 45px;
      background: transparent;
      border: 1px solid #fff;
      position: relative;
      transition: all 300ms linear; }
      .wd-menu__top-trigger:before {
        background: #fff;
        content: '';
        height: 4px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        opacity: 1;
        transition: all 300ms linear; }
      .wd-menu__top-trigger > span:before, .wd-menu__top-trigger > span:after {
        background: #fff;
        content: '';
        height: 3px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 60%;
        transition: all 100ms linear; }
      .wd-menu__top-trigger > span:before {
        top: 12px; }
      .wd-menu__top-trigger > span:after {
        bottom: 11px; }
  .wd-menu__panel {
    background: #000;
    height: 100vh;
    max-width: 300px;
    position: fixed;
    width: 300px;
    left: -100%;
    transition: all 300ms linear;
    top: 60px; }
    .wd-menu__panel-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
      .wd-menu__panel-content__item {
        width: 100%;
        transition: all 300ms linear; }
        .wd-menu__panel-content__item:last-child > a {
          border: none; }
        .wd-menu__panel-content__item > a {
          -ms-flex-align: center;
              align-items: center;
          display: -ms-flexbox;
          display: flex;
          height: 45px;
          width: 100%;
          padding: 0 1em;
          box-sizing: border-box;
          color: #fff;
          border-bottom: 2px solid #fff; }
        .wd-menu__panel-content__item.submenu {
          position: relative; }
          .wd-menu__panel-content__item.submenu a {
            -ms-flex-pack: justify;
                justify-content: space-between; }
            .wd-menu__panel-content__item.submenu a i {
              pointer-events: none; }
              .wd-menu__panel-content__item.submenu a i:before {
                content: "\61";
                font-family: 'wood-design';
                font-size: 1.5em;
                font-style: normal;
                transition: all 300ms linear; }
          .wd-menu__panel-content__item.submenu ul {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
                flex-direction: column;
            height: 0;
            opacity: 0;
            transition: all 300ms linear; }
            .wd-menu__panel-content__item.submenu ul > li {
              width: 100%; }
              .wd-menu__panel-content__item.submenu ul > li > a {
                -ms-flex-align: center;
                    align-items: center;
                display: -ms-flexbox;
                display: flex;
                height: 45px;
                width: 100%;
                padding: 0 1em;
                box-sizing: border-box;
                color: #fff;
                border-bottom: 2px solid #fff; }
          .wd-menu__panel-content__item.submenu.open {
            background: #e2b241; }
            .wd-menu__panel-content__item.submenu.open > a {
              color: #000; }
              .wd-menu__panel-content__item.submenu.open > a i:before {
                content: "\64"; }
            .wd-menu__panel-content__item.submenu.open > ul {
              transition: all 300ms linear;
              height: 100%;
              opacity: 1; }
              .wd-menu__panel-content__item.submenu.open > ul > li > a {
                color: #000; }
  .wd-menu.open {
    position: fixed; }
    .wd-menu.open .wd-menu__top {
      position: relative; }
      .wd-menu.open .wd-menu__top-trigger {
        left: 0;
        background: #e2b241;
        color: #000;
        transition: all 300ms linear; }
        .wd-menu.open .wd-menu__top-trigger:before {
          opacity: 0;
          transition: all 100ms linear; }
        .wd-menu.open .wd-menu__top-trigger > span:before, .wd-menu.open .wd-menu__top-trigger > span:after {
          transition: all 100ms linear; }
        .wd-menu.open .wd-menu__top-trigger > span:before {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg); }
        .wd-menu.open .wd-menu__top-trigger > span:after {
          bottom: 43%;
          transform: translate(-50%, -50%) rotate(-45deg); }
    .wd-menu.open .wd-menu__panel {
      left: 0;
      transition: all 300ms linear; }

.wd-stage {
  width: 100%;
  overflow: hidden;
  position: relative; }
  @media all and (max-width: 480px) {
    .wd-stage {
      padding: 1em 0 0 0; } }
  .wd-stage__main {
    max-width: 100%;
    margin: auto; }
    @media all and (min-width: 1280px) {
      .wd-stage__main {
        max-width: 1280px; } }
  .wd-stage__content {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    -ms-flex-direction: column;
        flex-direction: column; }
    @media all and (max-width: 480px) {
      .wd-stage__content {
        -ms-flex-align: center;
            -ms-grid-row-align: center;
            align-items: center; } }
    @media all and (min-width: 481px) {
      .wd-stage__content {
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: center;
            -ms-grid-row-align: center;
            align-items: center; } }
    .wd-stage__content-image {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      padding: 0.5em 0 0 0;
      width: calc(100% / 2); }
      @media all and (max-width: 480px) {
        .wd-stage__content-image {
          -ms-flex-order: 1;
              order: 1; } }
      @media all and (min-width: 481px) {
        .wd-stage__content-image {
          width: calc(100% / 4); } }
      @media all and (min-width: 1080px) {
        .wd-stage__content-image {
          width: 300px; } }
      .wd-stage__content-image img {
        width: 100%; }
    .wd-stage__content-description {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      color: #fff;
      text-align: center;
      width: 90%;
      padding: 1em;
      box-sizing: border-box; }
      @media all and (max-width: 480px) {
        .wd-stage__content-description {
          -ms-flex-order: 0;
              order: 0; } }
      @media all and (min-width: 481px) {
        .wd-stage__content-description {
          width: calc(100% / 1.5);
          text-align: left; } }
      @media all and (min-width: 948px) {
        .wd-stage__content-description {
          width: calc(100% / 2); } }
      .wd-stage__content-description__title {
        max-height: 105px;
        max-width: 600px;
        overflow: hidden; }
        @media all and (min-width: 481px) {
          .wd-stage__content-description__title {
            max-height: 170px; } }
      .wd-stage__content-description__txt {
        max-height: 50px;
        max-width: 600px;
        overflow: hidden; }
        @media all and (min-width: 481px) {
          .wd-stage__content-description__txt {
            max-height: 100px; } }
    .wd-stage__content.center {
      position: relative;
      -ms-flex-pack: center;
          justify-content: center; }
      .wd-stage__content.center .wd-stage__content-image {
        -ms-flex-order: 1;
            order: 1;
        padding: 0; }
      .wd-stage__content.center .wd-stage__content-description {
        -ms-flex-order: 0;
            order: 0; }
        @media all and (min-width: 481px) {
          .wd-stage__content.center .wd-stage__content-description {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%; }
            .wd-stage__content.center .wd-stage__content-description__title {
              position: absolute;
              left: 21%;
              top: 50%;
              max-width: calc(100% / 2 - 10%);
              max-height: 190px;
              transform: translate(-50%, -50%); }
            .wd-stage__content.center .wd-stage__content-description__txt {
              position: absolute;
              right: -17%;
              top: 50%;
              max-width: calc(100% / 3);
              transform: translate(-50%, -50%);
              max-height: 230px;
              padding: 0.5em;
              box-sizing: border-box; } }
    @media all and (min-width: 481px) {
      .wd-stage__content.right {
        -ms-flex-pack: justify;
            justify-content: space-between; } }
    .wd-stage__content.right .wd-stage__content-image {
      -ms-flex-order: 1;
          order: 1;
      padding: 0; }
      @media all and (min-width: 481px) {
        .wd-stage__content.right .wd-stage__content-image {
          -ms-flex-item-align: end;
              align-self: flex-end; } }
    .wd-stage__content.right .wd-stage__content-description {
      -ms-flex-order: 0;
          order: 0;
      -ms-flex-item-align: center;
          align-self: center; }
  .wd-stage__background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%; }
    @media all and (min-width: 481px) {
      .wd-stage__background img {
        width: 100%; } }
  @media all and (max-width: 947px) {
    .wd-stage.carousel .wd-stage__background img {
      width: initial; } }
  .wd-stage.yellow {
    background: #e2b241; }
    .wd-stage.yellow .wd-stage__content-description {
      background: #000; }
      .wd-stage.yellow .wd-stage__content-description__txt {
        color: #e2b241; }
  .wd-stage.black {
    background: #000; }
    .wd-stage.black .wd-stage__content-description {
      background: #e2b241; }
      .wd-stage.black .wd-stage__content-description__txt {
        color: #000; }
  .wd-stage.gray {
    background: rgba(0, 0, 0, 0.5); }
    .wd-stage.gray .wd-stage__content-description__txt {
      background: #e2b241;
      color: #fff; }

.wd-title {
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px #000;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 2.5em; }
  @media all and (min-width: 648px) {
    .wd-title {
      font-size: 3em; } }
  @media all and (min-width: 948px) {
    .wd-title {
      font-size: 4em; } }
  .wd-title__description {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
    line-height: 1.2em; }
    @media all and (min-width: 648px) {
      .wd-title__description {
        font-size: 2em; } }

@charset "UTF-8";
.wd-values {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  z-index: 1;
  padding: 1em 0;
  height: 300px;
  background: #e2b241; }
  .wd-values__content {
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media all and (min-width: 948px) {
      .wd-values__content {
        max-width: 90%; } }
    .wd-values__content-title {
      color: #fff; }
    .wd-values__content-items {
      width: 100%;
      position: relative; }
      .wd-values__content-items:after, .wd-values__content-items:before {
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 50px;
        background: black;
        z-index: 1;
        pointer-events: none;
        transition: all 300ms linear; }
      @media all and (max-width: 947px) {
        .wd-values__content-items {
          height: 150px;
          overflow: hidden; } }
      @media all and (max-width: 815px) {
        .wd-values__content-items:after, .wd-values__content-items:before {
          opacity: 0.8;
          transition: all 300ms linear; }
        .wd-values__content-items:before {
          left: 0;
          background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.02) 98%, transparent 100%); }
        .wd-values__content-items:after {
          right: 0;
          background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.02) 2%, black 100%); } }
      .wd-values__content-items main {
        width: 100%; }
        @media all and (max-width: 947px) {
          .wd-values__content-items main {
            white-space: nowrap;
            height: 300px;
            overflow-x: scroll; } }
        @media all and (min-width: 948px) {
          .wd-values__content-items main {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            display: -ms-flexbox;
            display: flex; } }
        .wd-values__content-items main button {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background: #000;
          border: 3px solid #fff;
          box-sizing: border-box;
          padding: 0;
          cursor: pointer;
          font-size: 1.5em;
          color: #fff;
          position: relative;
          z-index: 0;
          overflow: hidden; }
          @media all and (max-width: 947px) {
            .wd-values__content-items main button {
              margin: 0 0.25em; } }
          @media all and (min-width: 948px) {
            .wd-values__content-items main button {
              display: -ms-flexbox;
              display: flex;
              -ms-flex-pack: center;
                  justify-content: center;
              -ms-flex-align: center;
                  align-items: center;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto; } }
          .wd-values__content-items main button p {
            opacity: 1;
            transition: all 300ms linear; }
          .wd-values__content-items main button:after {
            content: 'Ver Más';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            left: 0;
            top: 0;
            z-index: 1;
            border-radius: 50%;
            transition: all 300ms linear;
            opacity: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
                justify-content: center;
            -ms-flex-align: center;
                align-items: center; }
          @media all and (min-width: 948px) {
            .wd-values__content-items main button:hover p {
              opacity: 0;
              transition: all 300ms linear; }
            .wd-values__content-items main button:hover:after {
              opacity: 1;
              transition: all 600ms linear; } }
