$color-uno: #8E551A;
$color-dos: #e2b241;
$color-tres: #fff;
$color-cuatro: #000;
.wd-values{
	display: flex;
	align-items: center;
	position: relative;
    z-index: 1;
    padding: 1em 0;
    height: 300px;
    background: $color-dos;
    &__content{
    	display: flex;
    	max-width: 100%;
    	width: 100%;
    	flex-direction: column;
    	align-items: center;
    	margin: auto;
    	width: 100%;
    	height: 100%;
	    justify-content: space-around;
	    @media all and (min-width: 948px){
	    	max-width: 90%;
	    }
	    @media all and (min-width: 1281px){
	    	max-width: 1280px;
	    }
    	&-title{
    		color: $color-tres;
    	}
    	&-items{
    		width: 100%;
    		position: relative;
    		&:after, &:before{
    			opacity: 0;
    			content:'';
				position: absolute;
				top: 0;
				height: 100%;
				width: 50px;
				background: black;
				z-index: 1;
				pointer-events: none;
				transition: all 300ms linear;
    		}
    		@media all and (max-width: 947px){
    			height: 170px;
			    overflow: hidden;
	    	}
	    	@media all and (max-width: 900px){
	    		&:after, &:before{
	    			opacity: 0.8;
	    			transition: all 300ms linear;
	    		}
	    		&:before{
	    			left: 0;
					background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0.02) 98%,rgba(0,0,0,0) 100%);
	    		}
	    		&:after{
	    			right: 0;
					background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 2%,rgba(0,0,0,1) 100%);
	    		}
	    	}
    		main{
	    		width: 100%;
	    		@media all and (max-width: 947px){
				    white-space: nowrap;
				    height: 300px;
				    overflow-x: scroll;
	    		}
	    		@media all and (min-width: 948px){
	    			flex-wrap: wrap;
	    			justify-content: space-around;
	    			display: flex;
	    		}
	    		button{
					width: 170px;
    				height: 170px;
					border-radius: 50%;
					background: $color-cuatro;
					border: 3px solid $color-tres;
					box-sizing: border-box; 
					padding: 0;
					cursor: pointer;
					font-size: 1.5em;
					color: $color-tres;
					position: relative;
					z-index: 0;
					overflow: hidden;
					font-weight: 900;
					font-family: 'Julius Sans One', sans-serif;
					@media all and (max-width: 947px){
						margin:0 0.25em;
					}
					@media all and (min-width: 948px){
						display: flex;
						justify-content: center;
						align-items: center;
						flex: 0 0 auto;
					}
					p{
						opacity: 1;
						transition: all 300ms linear;
					}
					&:after{
						content: 'Ver Más';
						position: absolute;
						width: 100%;
						height: 100%;
						background: rgba( $color-tres, 0.5);
						left: 0;
						top: 0;
						z-index: 1;
						border-radius: 50%;
						transition: all 300ms linear;
						opacity: 0;
						display: flex;
						justify-content: center;
	    				align-items: center;
					}
					@media all and (min-width: 948px){
						&:hover{
							p{
								opacity: 0;
								transition: all 300ms linear;
							}
							&:after{
								opacity: 1;
								transition: all 600ms linear;
							}
						}
					}
				}
			}
    	}
    }
}