$color-uno: #8E551A;
$color-dos: #e2b241;
$color-tres: #fff;
$color-cuatro: #000;
.wd-values{
	display: flex;
	align-items: center;
	position: relative;
    z-index: 1;
    background: rgba($color-cuatro, 0.5);
    padding: 1.5em 0;
    &__content{
    	display: flex;
    	max-width: 100%;
    	width: 100%;
    	flex-direction: column;
    	align-items: center;
    	margin: auto;
    	width: 100%;
    	height: 100%;
	    justify-content: space-around;
	    @media all and (min-width: 948px){
	    	max-width: 90%;
	    }
	    @media all and (min-width: 1281px){
	    	max-width: 1280px;
	    }
    	&-title{
    		color: $color-tres;
    		margin-bottom: 0.5em;
    	}
    	&-items{
    		width: 100%;
    		display: flex;
    		justify-content: space-around;
    		flex-wrap: wrap;
    		p{
    			padding: 1em;
    			height: 60px;
    			width: calc(100% / 4 - 60px);
    			color: $color-tres;
    			font-size: 1.2em;
    			background: $color-cuatro;
    			display: flex;
			    justify-content: center;
			    align-items: center;
			    @media all and (max-width: 647px){
			    	width: calc(100% / 2 - 60px);
			    	margin-bottom: 0.5em;
			    	font-size: 1.5em;
			    	height: 10vw;
			    }
			    @media all and (max-width: 480px){
			    	width: 80%;
			    }
    		}
    	}
    }
}